- content_for :breadcrumb do
  %nav
    %ul
      %li= link_to 'Hackday Organizations', hackday_organizations_path
      %li= link_to @hackday_organization.name, hackday_organization_path(@hackday_organization)
      %li Edit

%h1 Edit

= render 'form', hackday_organization: @hackday_organization

= link_to 'Back', hackday_organization_path(@hackday_organization)
