%h1 New Project

= form_for @project do |f|
  - if @projects.any?
    %fieldset
      = select_tag 'existing_project_id', options_from_collection_for_select(@projects, 'id', 'name'), prompt: 'Select existing project'
  = render 'form', project: @project, hardwares: @hardwares, f: f
