- content_for :breadcrumb do
  %nav
    %ul.breadcrumb
      %li= link_to @hackday_organization.name, hackday_organization_path(@hackday_organization)
      %li New

%h1 Add New Hardware Item

= render 'form', hardware: @hardware, hackday_organization: @hackday_organization
